:root {
    --primary-color: #0fd34a;

    --secondary-color: #ebead9;

    --accent1-color: #01710d;

    --accent2-color: #034813;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--secondary-color);
}

/*Modifies Header*/
header img {
    width: 120px;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bold;
}

/*Till here*/

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/*Style the Hero Div with Overlays*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 300px;
    width: 96%;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    position: relative;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

/*Modifies History*/
section h2 {
    margin: 0;
    padding: 1.5rem;
    background-color: var(--accent1-color);
    color: white;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 16px;
}

.history-content img {
    width: 100%;
    border-radius: 6px;
}

/*Till here*/

/*Modifies Adventure Awaits*/
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: 120px;
    object-fit: cover;

}

.adventures h2 {
    grid-column: 1 / -1;
    text-align: left;
}

figure {
    text-align: center;
}

/*Till here*/

/*Modifies Footer*/

.socialmedia a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

.socialmedia {
    display: flex;
    gap: 12px;
}

.socialmedia img {
    width: 40px;
    height: auto;
}